In [1]:
# Import dependencies

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData


from config import password

In [2]:
connection_string = f"postgresql://yhcaekagzcfjez:{password}@ec2-3-211-240-42.compute-1.amazonaws.com/d2hgqg2homreih"

In [3]:
# Create engine

engine = create_engine(connection_string)

In [4]:
# Create Automap Base

Base = automap_base()

# Reflect Tables

Base.prepare(engine, reflect=True)

In [5]:
# View classes
Base.classes.keys()

['comp_types', 'income_internet']

In [6]:
# Save references to each table
Comp_types = Base.classes.comp_types
Income_internet = Base.classes.income_internet

In [7]:
# Create Session Link to the Database
session = Session(engine)

In [11]:
# query data
## Use the following format to query data
## results = session.query(your_query_here)
## print(results.all())

#i.e.
## results = session.query(Comp_types.id)
## print(results.all())

In [ ]:
# To add a Jupyter DataFrame to a SQL Table, use the following format

# dataframe_df.to_sql(name="SQL_table_name", con=engine)

# To confirm that the table imported correctly:
## right-click the new table in pgAdmin and select Properties
## click the Columns tab to make sure all columns have an appropriate data type
## Close the Properties window and right-click the new table again
## Select "View/Edit data" followed by "First 100 Rows"
## Right click new table again and select Query Tool
## Inside query tool, run SELECT COUNT(*) FROM {the new table} to make sure all rows were imported